.env
node_modules
services

# for testing email sending functionality, not needed in production via brevo smtp which only works in development
utils/testEmail.js 

# for sending emails, not needed in production
utils/sendEmail.js 

# for testing brevo API connection and email sending, not needed in production
utils/testBrevo.js