.env
node_modules

# for sending emails, not needed in production nodemailer + ethereal which only works in development, brevo smtp doesn't work in render so i've choose brevo API  
utils/sendEmail.js

# for testing email sending functionality, not needed in production via brevo smtp which only works in development
utils/testEmail.js 


# for testing brevo API connection and email sending, not needed in production
utils/testBrevo.js